@mixin transition {
  @for $i from 1 through 1000 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.12}s;
    }
  }
}

.project-container {
  @include transition;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.3s all ease;
  opacity: 0;
  transform: translate(0px, 40px);
  animation: fadeUp 0.3s forwards ease;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 1px var(--black12);

  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px var(--theme-1);

    .project {
      background-color: var(--black24);
      .post-image {
        opacity: 0.4;
        filter: blur(8px);
      }
      .projectTileText {
        opacity: 1;
        transform: translate(0px, 0px) scale(1);
      }
    }
  }
}

.project {
  background-color: var(--black06);
  transition: 0.3s all ease;
  min-height: 200px;
  position: static;
  cursor: pointer;

  & * {
    transition: 0.3s all ease;
  }

  &:hover {
    background-color: var(--black12);
    .post-image {
      opacity: 0.4;
      filter: blur(8px);
    }
    .projectTileText {
      opacity: 1;
      transform: translate(0px, 0px) scale(1);
    }
  }

  .projectTileText {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transform: translate(0px, 0px) scale(1.1);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    padding: 1rem 1.4rem;
    width: 100%;
    height:100%;
    cursor: pointer;
  }
  .post-image {
    width: auto;
    z-index: 1;
    img {
      margin: 0px;
    }
  }

  h4,
  p {
    width: 100%;
    text-align: center;
    align-self: flex-end;
  }

  h4 {
    color: var(--black);
  }
  p {
    line-height: 1rem;
    color: var(--black60);
    font-weight: 500;
  }
}
