html {
  font-family: "Inter variable font", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  transition:0.3s all ease;
}

.page-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  height: 100%;
  display:grid;
  position:static;
  margin-top: var(--spacing);
  margin-bottom:var(--spacing);
  grid-template-columns: 1fr 1fr;

  h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }

  .page-title {
    font-variation-settings: "wdth" 75, "wght" 500;
    color:var(--black90);

    span {
      color:var(--black90);
      font-variation-settings: "wdth" 75, "wght" 300;
    }
  }

  .home-title {
    margin-bottom:var(--spacing3);
  }
}

@media only screen and (max-width: 800px) {
  .page-container {
    h2 {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-container {
    grid-template-columns: 1fr 1fr;
  }
}

.pageTransition-enter {
  z-index: 2;
  transform: translate(120px, 0px);
  opacity: 0;
  transition: 0.4s all ease;
}

.pageTransition-enter-active {
  z-index: 2;
  transform: translate(0px, 0px);
  opacity: 1;
  transition: 0.4s all ease;
}

.pageTransition-exit {
  z-index: 1;
  transform: translate(0px, 0px);
  opacity: 1;
  transition: 0.4s all ease;
}

.pageTransition-exit-active {
  z-index: 1;
  transform: translate(120px, 0px);
  opacity: 0;
  transition: 0.4s all ease;
}
