.bookmarks-container {
  width: auto;
  border-radius: 0.5rem;
  overflow: hidden;
  transform:translate(0px, 40px);
  opacity:0;
  animation: fadeUp 0.3s forwards ease 0.15s;
  .bookmarks-header {
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    .tab {
      flex:0 1 100%;
      border-radius: 0.5rem 0.5rem 0 0;
      border-bottom: 1px solid var(--transparent);
      margin:0px 0.5rem;
      padding:0.3rem;
      background-color:var(--black06);
      transition:0.15s all ease;

      &:first-of-type {
        margin:0px 2px 0px 0px;
      }
      &:last-of-type {
        margin:0px 0px 0px 2px;
      }
      &::after {
        content: "";
        width: 100%;
        height: 0.5rem;
        position: absolute;
        bottom: calc(0px - 0.5rem);
        left: 0px;
        transition:0.3s all ease;
      }
      p {
        color: var(--black60);
        text-align: center;
        align-self: center;
        font-size: 0.6rem;
        font-weight: 600;
        width: 100%;
      }
      &.active {
        background-color: var(--white);
        border-bottom: 1px solid var(--black12);
        p {
          font-weight: 700;
          color: var(--black);
        }
        &::after {
          background-color: var(--white);
        }
        &:hover {
          background-color: var(--white);
          border-bottom: 1px solid var(--black12);
          &::after {
            background-color: var(--white);
            bottom: calc(0px - 0.5rem);
          }
        }
        &:focus {
          background-color: var(--white);
          border-bottom: 1px solid var(--black12);
        }

      }
      &:focus {
        background-color: var(--black12);
        border-bottom: 1px solid var(--black12);
      }
      &:hover {
        background-color: var(--black12);
        border-bottom: 1px solid var(--transparent);
        cursor:pointer;
      }
    }
  }
  .bookmarks {
    width: 100%;
    position: relative;
    background-color: var(--white);
    z-index: 2;
    transition: 0.15s all ease-out;
    overflow:hidden;
    .bookmark {
      padding: 1rem;
      width: 100%;
      transition: 0.15s all ease-out;
      border-top: 1px solid var(--black12);
      display: flex;
      align-items: flex-start; /* NEW */
      justify-content: start;
      h4 {
        font-weight: 700;
        color: var(--black80);
        margin: 0px;
        font-size: 1rem;
      }
      .url {
        color:var(--theme);
        text-decoration: underline;
      }
      .left{ 
        flex: 0 1 100%;
      }
      &:first-of-type {
        border-top: 0px;
      }

      &:hover, &:focus {
        outline:none;
        background-color: var(--black06);
        h4 {
          &:before {
            opacity:1;
            margin-left:0px;
            margin-right:12px;
          }
        }
      }
    }
  }
  .enter {
    opacity: 0;
    transition:0.3s all ease, 0.3s border-top linear 0.3s;
  }
  .enter-active {
    opacity: 1;
  }
  .exit {
    opacity: 0;
    transition:0.3s all ease;
    z-index:-1;
    display:none;
  }
  .exit-active {
    opacity: 0;
    display:none;
  }
}
