.bookmarks-container {
  width: auto;
  overflow: hidden;
  transform:translate(0px, 40px);
  opacity:0;
  animation: fadeUp 0.3s forwards ease 0.15s;
  margin-top:4rem;
  .bookmarks-header {
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    .tab {
      flex:0 1 100%;
      margin:0px 0.25rem;
      padding:0.5rem 1rem;
      background-color:var(--black06);
      transition:0.15s all ease;
      border: 1px solid var(--dark3);
      border-bottom:0px;
      border-radius: var(--border-radius) var(--border-radius) 0 0 ;
      cursor:none;
      &:first-of-type {
        margin:0px 0.25rem 0px 0px;
      }
      &:last-of-type {
        margin:0px 0px 0px 0.25rem;
      }
      p {
        color: var(--dark6);
        text-align: left;
        align-self: center;
        width: 100%;
      }
      &.active {
        background-color:var(--white-light1);
        border: 1px solid var(--dark3);
        border-bottom:0px;
        p {
          color: var(--black);
          font-weight:600;
        }
        &:hover {
          background-color: var(--white-light1);
          &::after {
            background-color: var(--background);
            bottom: calc(0px - 0.5rem);
          }
        }
        &:focus {
          background-color: var(--background);
        }

      }
      &:focus {
        background-color: var(--dark2);
      }
      &:hover {
        background-color: var(--dark2);
      }
    }
  }
  .bookmarks {
    width: 100%;
    position: relative;
    background-color:var(--white-light1);
    z-index: 2;
    transition: 0.15s all ease-out;
    overflow:hidden;
    border: 1px solid var(--dark3);
    border-radius: 0 0 var(--border-radius) var(--border-radius) ;
    .bookmark {
      padding: 1rem;
      width: 100%;
      transition: 0.15s all ease-out;
      border-top: 1px solid var(--dark3);
      display: flex;
      align-items: flex-start; /* NEW */
      justify-content: start;
      .url {
        color:var(--theme);
        text-decoration: underline;
      }
      .left{ 
        flex: 0 1 100%;
        p {
          &:first-of-type {
            color:var(--black);
            font-weight:600;
          }
          &:nth-of-type(2){
            color:var(--dark7);
          }
        }
      }
      &:first-of-type {
        border-top: 0px;
      }

      &:hover, &:focus {
        outline:none;
        background-color: var(--dark2);
        h4 {
          &:before {
            opacity:1;
            margin-left:0px;
            margin-right:12px;
          }
        }
      }
    }
  }
  .enter {
    opacity: 0;
    transition:0.3s all ease, 0.3s border-top linear 0.3s;
  }
  .enter-active {
    opacity: 1;
  }
  .exit {
    opacity: 0;
    transition:0.3s all ease;
    z-index:-1;
    display:none;
  }
  .exit-active {
    opacity: 0;
    display:none;
  }
}
