.home-sub-head {
  border-top: 1px solid var(--dark3);
  padding-top: 2rem;
}

.description {
  color: var(--dark6);
  .link {
    width:auto;
    display:inline-block;
    margin:0 0.5rem;
    padding:0 0.5rem;
    background-color:var(--white-light1);
    border-radius: var(--border-radius);
    box-shadow: inset 0px 0px 0px 1px var(--dark3);;

    &:hover {
      background-color: var(--dark2);
    }

  }
}

.name-small-screen {
  display: none;
  text-align: left;
  line-height: 0.8rem;
  color: var(--black);
  font-family: 'Syne', sans-serif !important;
  font-weight:600;
}

.label {
  margin-bottom:1rem;
}

.title {
  span {
    position:relative;
    margin-left:1rem;
    line-height:4rem;
  }
}


.header-contain {
  display:flex;
  width:100%;
}
@media only screen and (max-width: 600px) {
  .name-small-screen {
    display: inline;
  }
  .title {
    span {
      .pixels {
        top:0.8rem;
        left:0.2rem;
        div {
          width: 0.35rem;
          height: 0.35rem;
        }
      }
    }
  }
}
