.header-container {
  width: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: var(--white60);
  backdrop-filter: var(--header-background);
}

.header {
  //background-color: var(--black06);
  width: 100%;
  transform: translate(0, 0);
  max-width: var(--max-width);
  border-bottom: 1px solid var(--black12);
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;

  & * {
    opacity: 1;
  }
  .header-title {
    font-weight: 400;
    text-align: left;
    line-height: 0.8rem;
    color: var(--black);
  }
  .header-item {
    margin: 0;
    flex: 0 0 auto;
    display: flex;
    transition: 0.3s all ease;
    align-self: flex-end;
    margin-left: 2rem;
  }
  .nav-link {
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s all ease;
    text-align: center;
    padding: 0.5rem 0.75rem;
    flex: 0 1 auto;
    width: 100%;

    img {
      width: 0.8rem;
      height: 0.8rem;
      margin-right: calc(1rem / 4);
      opacity: 0.8;
      display: none;
    }
    p {
      color: var(--black60);
    }
    &:active {
      box-shadow: 0px 0px 0px 4px var(--theme);
    }
    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 4px var(--theme);
    }
    &:hover {
      background-color: var(--black06);
    }
    &:last-of-type {
      margin-right: 0px;
    }
  }
  .selected {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-color: var(--black);
    }
    p {
      color: var(--black);
    }
    img {
      opacity: 1;
    }
    &:hover {
      background-color: var(--black06);
    }
    &:focus {
      background-color: var(--black90);
    }
  }
}
@media only screen and (max-width: 1000px) {
  .header {
    padding: 0px 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    border-bottom: 0px;
    border-top: 1px solid var(--black12);
    .header-title {
      display: none;
    }
    .header-item {
      width: 100%;
      margin-left: 0;
      .nav-link {
        flex: 0 1 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        justify-content: center;
        img {
          margin: 0px;
        }
      }
    }
    .selected {
      &:after {
        content: "";
        position: absolute;
        top: -1px;
        bottom: auto;
      }
    }
  }
  .header-container {
    bottom: 0px;
    top: auto;
    border-bottom: 0px;
  }
}
