@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
  --black: #000000;
  --black90: rgba(0, 0, 0, 0.9);
  --black80: rgba(0, 0, 0, 0.8);
  --black60: rgba(0, 0, 0, 0.6);
  --black40: rgba(0, 0, 0, 0.4);
  --black24: rgba(0, 0, 0, 0.24);
  --black12: rgba(0, 0, 0, 0.12);
  --black08: rgba(0, 0, 0, 0.08);
  --black06: rgba(0, 0, 0, 0.06);

  --transparent: rgba(0, 0, 0, 0);

  --white: #ffffff;
  --white90: rgba(255, 255, 255, 0.9);
  --white80: rgba(255, 255, 255, 0.8);
  --white60: rgba(255, 255, 255, 0.6);
  --white24: rgba(255, 255, 255, 0.24);
  --white12: rgba(255, 255, 255, 0.12);
  --white08: rgba(255, 255, 255, 0.08);
  --white06: rgba(255, 255, 255, 0.06);

  --light-grey40: rgba(215, 215, 215, 0.4);
  --dark-grey40: rgba(127.5, 127.5, 127.5, 0.4);

  --theme: #0064ea;
  --theme-shade-1: #0057c9;

  --toggle-size: 52px;

  --max-width: 1000px;

  --grid-template-columns-3: 4fr 4fr 4fr;
  --grid-template-columns-2: repeat(2, 1fr);
  --grid-template-columns-1: 1fr;
  --box-shadow-1: 0px 2px 8px 0px var(--black-overlay-08);
  
  --header-background: blur(20px) contrast(100%) brightness(100%);
  
  font-size: 24px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #000000;
    --white90: rgba(0, 0, 0, 0.9);
    --white80: rgba(0, 0, 0, 0.8);
    --white60: rgba(0, 0, 0, 0.6);
    --white40: rgba(0, 0, 0, 0.4);
    --white24: rgba(0, 0, 0, 0.24);
    --white12: rgba(0, 0, 0, 0.12);
    --white08: rgba(0, 0, 0, 0.08);
    --white06: rgba(0, 0, 0, 0.06);

    --transparent: rgba(0, 0, 0, 0);

    --black: #ffffff;
    --black90: rgba(255, 255, 255, 0.9);
    --black80: rgba(255, 255, 255, 0.8);
    --black60: rgba(255, 255, 255, 0.6);
    --black24: rgba(255, 255, 255, 0.24);
    --black12: rgba(255, 255, 255, 0.12);
    --black08: rgba(255, 255, 255, 0.08);
    --black06: rgba(255, 255, 255, 0.06);

    --header-background: blur(12px) contrast(100%) brightness(50%);
  }   
  .icon {
    filter: invert(1);
  }
} 



body {
  margin: 0;
  overflow: visible;
  top:0px;
  left:0px;
  width:100%;
  height:auto;
  min-height:100%;
  position:absolute;
  padding:0 1rem;
  background-color: var(--white);

}
html {
  overflow: visible;
  background-color: var(--white);
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
p,
a,
span,
div {
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  color:var(--black90);
}
h1 {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 200;
  font-family:'EB Garamond', serif;
  margin: 2rem 0 3rem;
}
h2 {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 700;
}

p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-weight: 400;
}

h1 a {
  &:hover {
    text-decoration: underline;
  }
}

.title {
  color: var(--black90);
  margin:2rem 0rem 4rem;
  text-align: left;

  a {
    display: inline;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

a {
  color: var(--black90);
  text-decoration: none;
  display: block;
}

.intro {
  border-radius: 0.5rem;
  padding: 4rem 0;
  h1 {
    color: var(--black);
    text-align: left;
  }

  h4 {
    margin-top: 1rem;
    color: var(--black60);
  }
}

.body-text {
  margin:2rem 0rem;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1000px) {
  .body-text {
    margin:2rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .body-text {
    margin:1rem 0rem;
  }
  h1 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    font-weight: 200;
    font-family:'EB Garamond', serif;
  }
}
