@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


:root {
  --black: #000000;
  --dark8: rgba(0, 0, 0, 0.9);
  --dark7: rgba(0, 0, 0, 0.8);
  --dark6: rgba(0, 0, 0, 0.6);
  --dark5: rgba(0, 0, 0, 0.4);
  --dark4: rgba(0, 0, 0, 0.24);
  --dark3: rgba(0, 0, 0, 0.12);
  --dark2: rgba(0, 0, 0, 0.08);
  --dark1: rgba(0, 0, 0, 0.06);

  --white: #ffffff;
  --white-light1: #ffffff;
  --transparent: rgba(0, 0, 0, 0);

  --background: rgba(0, 0, 0, 0.02);
  --light8: rgba(255, 255, 255, 0.9);
  --light7: rgba(255, 255, 255, 0.8);
  --light6: rgba(255, 255, 255, 0.6);
  --light5: rgba(255, 255, 255, 0.4);
  --light4: rgba(255, 255, 255, 0.24);
  --light3: rgba(255, 255, 255, 0.12);
  --light2: rgba(255, 255, 255, 0.08);
  --light1: rgba(255, 255, 255, 0.06);
  
  
  
  --light-grey40: rgba(215, 215, 215, 0.4);
  --dark-grey40: rgba(127.5, 127.5, 127.5, 0.4);
  
  --theme: #0064ea;
  --theme-shade-1: #0057c9;
  
  --toggle-size: 52px;
  
  --max-width: 1000px;
  --max-text-width: 800px;
  
  --grid-template-columns-3: 4fr 4fr 4fr;
  --grid-template-columns-2: repeat(2, 1fr);
  --grid-template-columns-1: 1fr;
  --box-shadow-1: 0px 2px 8px 0px var(--black-overlay-08);
  
  --border-radius:0.25rem;

  --header-background: blur(20px) contrast(100%) brightness(94%);
  
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --light8: rgba(0, 0, 0, 0.9);
    --light7: rgba(0, 0, 0, 0.8);
    --light6: rgba(0, 0, 0, 0.6);
    --light5: rgba(0, 0, 0, 0.4);
    --light4: rgba(0, 0, 0, 0.24);
    --light3: rgba(0, 0, 0, 0.12);
    --light2: rgba(0, 0, 0, 0.08);
    --light1: rgba(0, 0, 0, 0.06);
    --white-light1: rgba(255, 255, 255, 0.1);

    --transparent: rgba(0, 0, 0, 0);
    --white: rgba(0, 0, 0, 1);
    --black: #ffffff;
    --dark8: rgba(255, 255, 255, 0.9);
    --dark7: rgba(255, 255, 255, 0.8);
    --dark6: rgba(255, 255, 255, 0.6);
    --dark5: rgba(255, 255, 255, 0.4);
    --dark4: rgba(255, 255, 255, 0.24);
    --dark3: rgba(255, 255, 255, 0.12);
   --dark2: rgba(255, 255, 255, 0.06);
   --dark1: rgba(255, 255, 255, 0.04);

    --header-background: blur(12px) contrast(100%) brightness(50%);
    --theme: #2c84f8;
  }   
  .icon {
    filter: invert(1);
  }
} 


.title {
  max-width:760px;
  margin-bottom:2rem;
}

.description {
  color: var(--dark6);
  max-width:760px;
}

html {
  cursor: none !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: visible;
  top:0px;
  left:0px;
  width:100%;
  height:auto;
  min-height:100%;
  position:absolute;
  padding:1rem 1rem;
  background-color: var(--background);
  cursor: none;
  box-sizing: border-box;

    &:hover {
    cursor: none;
    }
}

a:hover {
  cursor: none;
}

a:active {
  outline:none;
}

html {
  overflow: visible;
  background-color: var(--background);
}

button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
p,
a,
span,
div {
  padding: 0px;
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight:400;
  letter-spacing: -0.2px;
  color:var(--dark8);
}
h1 {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight:700;
  color:var(--dark7);
}

h2 {
  font-weight:600;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.2rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight:600;
  margin-bottom:2rem;
  color:var(--dark7);
}

p {
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-weight: 400;
  color:var(--dark6);
}

h1 a {
  &:hover {
    text-decoration: underline;
  }
}

.title {
  text-align: left;
}

a {
  color: var(--dark8);
  text-decoration: none;
  display: block;
}


.body-text {
  margin:4rem 0rem;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .body-text {
    margin:4rem 0rem;
  }
}
